body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bank-account {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  
}

.bank-account h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.bank-account form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.bank-account label {
  font-size: 16px;
  margin-bottom: 5px;
}

.bank-account input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.bank-account button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bank-account button[type="submit"]:hover {
  background-color: #3e8e41;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}


.transaction-table {
  border-collapse: collapse;
  width: 100%;
}

.transaction-table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

.transaction-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transaction-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction-table tr:hover {
  background-color: #ddd;
}

.transaction-log {
  margin-bottom: 20px;
}

.transaction-log h2 {
  margin-top: 0;
}

.transaction-log select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}